## IDE
.idea/
.run/
.vscode/

## Notebooks
**/.ipynb_checkpoints/

## Configs
.env
*.env
env/
venv/
Makefile.config

## Project Files
*.meta.out
!*.meta.*.env
**/outputs/*
!**/outputs/.gitkeep
**/metafile_*
**/temp_*
